body { background-color : pink }
h1 { background-color : white ; color : black }
p { background-color : gold ; color : black }

<style type ="text/css">
            .first {background-color:blue; color:teal}
            .second {background-color:green;color:yellow}
            #important {background-color:black; color:red}
           </style >